{{ 'section-product-reviews.css' | asset_url | stylesheet_tag }}
<div id="ProductSection-product-reviews" class="shopify-section js-section__product-reviews page-width">
  <div 
    class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
    data-price="{{ variant.price | money_without_currency }}"
    data-currency="{{ shop.currency }}"
    data-description="{{ product.description | escape }}">
  </div>
</div>


{% schema %}
{
  "name": "t:sections.product-reviews.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Customer Reviews",
      "label": "t:sections.product-reviews.settings.heading.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-reviews.presets.name"
    }
  ]
}
{% endschema %}
