{{ 'section-product-reviews.css' | asset_url | stylesheet_tag }}

<div id="ProductSection-product-reviews" class="shopify-section js-section__product-reviews page-width">
    <section class="section section--mb0 container container--medium container--mob-0">
      <div class="container container--medium">    
      <div class="section__title section__title--center">
        <h2 class="section__title-text">{{ section.settings.heading | escape }}</h2>      
      </div>    
    </div>
     <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      <div id="stamped-main-widget"   
           data-widget-style="standard" 
           data-product-id="{{ product.id }}"   
           data-name="{{ product.title | escape }}"   
           data-url="{{ shop.url }}{{ product.url }}"   
           data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" 
           data-description="{{ product.description | escape }}"   
           data-product-sku="{{product.handle}}"
           data-product-type="{{product.type}}"
           data-sort-reviews="featured" >   
        {{ product.metafields.stamped.reviews }}   
      </div>    
    </section>  
  </div>


{% schema %}
{
  "name": "t:sections.product-reviews.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Customer Reviews",
      "label": "t:sections.product-reviews.settings.heading.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-reviews.presets.name"
    }
  ]
}
{% endschema %}
